.navbar {
    top: 0;
    z-index: 999;
}
#home, #about, #contact {
    height: 600px;
}
#contact {
    background: red;
}

  body {
      position: relative;
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container {
     position: relative;
     top: 50px;
  }
  #home {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #about {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #contact {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
